# Homework 5 (Due 5/17)

## Name:

## ID:

## Instructions
Run everything (select cell in the menu, and click Run all), export as pdf, and submit the pdf to gradescope. 

To export as pdf, you can use the following methods: (1) File -> download as -> pdf (2) print as pdf from browser.

In this homework, we will use the penguins dataset and we want to predict the ``body_mass_g`` of a penguin using the other features.

We will do a series of transformation on the dataframe. You can use different copies of the dataframe or modify the dataframe in place.

In [1]:
import seaborn as sns

df = sns.load_dataset("penguins")

**Q1 Data Imputation**

(1) Find the row indices that have missing values and print those rows.

In [2]:
# get row index of missing values
idx = df.isnull().any(axis=1)

df[idx]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

(2) Besides removing the row with missing value, we can try to fill in the missing value: this is called data imputation. 

Use the `SimpleImputer` from `sklearn.impute` with the strategy `mean` to fill in the missing values.

For example, if the feature `bill_length_mm` has missing values, we will replace the missing values with the mean value of `bill_length_mm`.

Impute the following features:

`['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']`

Print the imputed rows.

In [3]:
from sklearn.impute import SimpleImputer

# Choosing imputation strategy for numerical columns
# We will use the mean strategy for this example
imputer = SimpleImputer(strategy='mean')

col_impute = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']

# Fit and transform the data - imputation
df[col_impute] = imputer.fit_transform(df[col_impute])


df[idx]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,NaN
8,Adelie,Torgersen,34.10000,18.10000,193.000000,3475.000000,NaN
9,Adelie,Torgersen,42.00000,20.20000,190.000000,4250.000000,NaN
10,Adelie,Torgersen,37.80000,17.10000,186.000000,3300.000000,NaN
11,Adelie,Torgersen,37.80000,17.30000,180.000000,3700.000000,NaN
47,Adelie,Dream,37.50000,18.90000,179.000000,2975.000000,NaN
246,Gentoo,Biscoe,44.50000,14.30000,216.000000,4100.000000,NaN
286,Gentoo,Biscoe,46.20000,14.40000,214.000000,4650.000000,NaN
324,Gentoo,Biscoe,47.30000,13.80000,216.000000,4725.000000,NaN
336,Gentoo,Biscoe,44.50000,15.70000,217.000000,4875.000000,NaN
339,Gentoo,Biscoe,43.92193,17.15117,200.915205,4201.754386,NaN

**Q2** Feature scaling

Scale the features `['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']` to [0, 1] using `MinMaxScaler` from `sklearn.preprocessing`.

In [4]:
from sklearn.preprocessing import MinMaxScaler

features = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']

# Initialize the MinMaxScaler to scale to [0,1]
scaler = MinMaxScaler()

# Fit and transform the selected columns
df[features] = scaler.fit_transform(df[features])

**Q3**  Use the scaled features `['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']` to fit a linear regression model to predict `body_mass_g`.

Perform 5-fold cross validation and report the mean and standard deviation of the coefficient of determination $R^2$.

In [5]:
from sklearn.model_selection import cross_val_score, KFold
from sklearn.linear_model import LinearRegression

import numpy as np

# Assuming df is your DataFrame ready for modeling
# Define X (features) and y (target) - example assumes 'target' as your target variable
X = df[features]
y = df['body_mass_g']

# Initialize Linear Regression model
model = LinearRegression()

# Setup 5-fold cross-validation
kf = KFold(n_splits=5, shuffle=True, random_state=1)

# Perform cross-validation
r2_scores = cross_val_score(model, X, y, cv=kf, scoring='r2')

# Calculate average and standard deviation of R-squared scores
average_r2 = np.mean(r2_scores)
std_r2 = np.std(r2_scores)

print(f'Average R-squared: {average_r2:.5f}')
print(f'Standard Deviation of R-squared: {std_r2:.5f}')

Average R-squared: 0.75321
Standard Deviation of R-squared: 0.03308

**Q4** Use the scaled features `['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']` to fit a `Lasso` regression model to predict `body_mass_g`.

Use `alpha=0.1`.

Perform 5-fold cross validation and report the mean and standard deviation of the coefficient of determination $R^2$.

In [6]:
from sklearn.linear_model import Lasso

# Assuming df is your DataFrame ready for modeling
# Define X (features) and y (target) - example assumes 'target' as your target variable
X = df[features]
y = df['body_mass_g']

alpha = 0.1

# Initialize Linear Regression model
model = Lasso(alpha=alpha)

# Setup 5-fold cross-validation
kf = KFold(n_splits=5, shuffle=True, random_state=1)

# Perform cross-validation
r2_scores = cross_val_score(model, X, y, cv=kf, scoring='r2')

# Calculate average and standard deviation of R-squared scores
average_r2 = np.mean(r2_scores)
std_r2 = np.std(r2_scores)

print(f'Average R-squared: {average_r2:.5f}')
print(f'Standard Deviation of R-squared: {std_r2:.5f}')

Average R-squared: 0.75335
Standard Deviation of R-squared: 0.03311

**Q5** Catagorical features

(1) Look up the documentation of `pandas.get_dummy`: this function will convert categorical variable into dummy/indicator variables (1s and 0s).

Notice that there is a parameter called `drop_first`. 

If `drop_first = True`, it will drop the first category of each feature. 

If `drop_first = False`, it will keep all the categories. 

For example, if we have a feature `color` with categories `['red', 'blue', 'green']`, then `get_dummies` will create 3 features `color_red`, `color_blue`, `color_green`.

If `drop_first = True`, it will drop the first category `color_red` and keep `color_blue` and `color_green`.

If `drop_first = False`, it will keep all the categories `color_red`, `color_blue`, `color_green`.

For linear regression, should we set drop_first = True or False? Why?


For linear regression, we should use drop_first=True to avoid multicollinearity

(2) Use the `get_dummies` method to convert `species`, `island` and `sex` to dummy variables.

Print the first 5 rows of your dataframe

In [67]:
import pandas as pd

df_dummy = pd.get_dummies(df, columns=['species', 'island','sex'], drop_first=True)

df_dummy.head(5)

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,species_Chinstrap,species_Gentoo,island_Dream,island_Torgersen,sex_Male
0,0.254545,0.666667,0.152542,3750.000000,0,0,0,1,1
1,0.269091,0.511905,0.237288,3800.000000,0,0,0,1,0
2,0.298182,0.583333,0.389831,3250.000000,0,0,0,1,0
3,0.429888,0.482282,0.490088,4201.754386,0,0,0,1,0
4,0.167273,0.738095,0.355932,3450.000000,0,0,0,1,0

**Q6** At this point, our penguins dataset have 

- scaled features `['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']`, and 

- dummy variables from `['species', 'island', 'sex']`

Use these features to fit a linear regression model to predict `body_mass_g`.

Compute the 5 fold cross validation score using R2 as the scoring metric.

In [68]:
X = df_dummy.drop('body_mass_g', axis=1)
y = df_dummy['body_mass_g']


# Initialize Linear Regression model
model = LinearRegression()

# Setup 5-fold cross-validation
kf = KFold(n_splits=5, shuffle=True, random_state=1)

# Perform cross-validation
r2_scores = cross_val_score(model, X, y, cv=kf, scoring='r2')

# Calculate average and standard deviation of R-squared scores
average_r2 = np.mean(r2_scores)
std_r2 = np.std(r2_scores)

print(f'Average R-squared: {average_r2:.5f}')
print(f'Standard Deviation of R-squared: {std_r2:.5f}')

Average R-squared: 0.86275
Standard Deviation of R-squared: 0.02198