# worksheet

# Penguin data

In [1]:
import seaborn as sns
from sklearn.linear_model import LinearRegression

df = sns.load_dataset("penguins")

# drop rows with missing numnerical values
df.dropna(inplace=True,thresh=6)
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

**Q1** In the penguins dataset, consider using ``['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']`` to predict ``'body_mass_g'``. What is the single most useful feature for predicting body mass? Can you answer this question without running linear regression?

In [2]:
corr_mx = df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']].corr()
corr_mx

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000

In [3]:
# use bill_length_mm to predict body_mass_g
lreg = LinearRegression()
lreg.fit(df[['bill_length_mm']], df['body_mass_g'])
lreg.score(df[['bill_length_mm']], df['body_mass_g'])

0.3541557031421869

In [4]:
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Sample data
Y = np.array([5, 15, 25, 35, 45, 55])  # Response
X1 = np.array([5, 15, 25, 35, 45, 55])  # Feature 1
X2 = np.array([5, 20, 14, 32, 22, 58])  # Feature 2

# Reshape for sklearn
X1 = X1.reshape(-1, 1)
X2 = X2.reshape(-1, 1)

# Fit models
model1 = LinearRegression().fit(X1, Y)
model2 = LinearRegression().fit(X2, Y)

# Predict and calculate MSE
mse1 = mean_squared_error(Y, model1.predict(X1))
mse2 = mean_squared_error(Y, model2.predict(X2))

print("MSE with X1:", mse1)
print("MSE with X2:", mse2)

MSE with X1: 1.6960509462251754e-29
MSE with X2: 86.09169374159035