# worksheet

# Penguin data

In [ ]:
import seaborn as sns
df = sns.load_dataset("penguins")


# drop rows with missing numnerical values
df.dropna(inplace=True,thresh=6)
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

In [ ]:
corr_mx = df[['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']].corr()
corr_mx

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000

In [ ]:
# use bill_length_mm to predict body_mass_g

lreg = LinearRegression()
lreg.fit(df[['bill_length_mm']], df['body_mass_g'])
lreg.score(df[['bill_length_mm']], df['body_mass_g'])

0.3541557031421869

In [ ]:

# use flipper_length_mm to predict body_mass_g

lreg = LinearRegression()
lreg.fit(df[['flipper_length_mm']], df['body_mass_g'])
lreg.score(df[['flipper_length_mm']], df['body_mass_g'])

0.7589925193571176

In the penguins dataset, what is the predictor of the body mass of the penguin?

What is the coefficient of determination. Can you tell which feature is the best predictor before doing linear regression.

Given the yeast dataset, find the quadratic regression model for the data.